* {
  background-color: #05192d;
  box-sizing: border-box;
}

#ToDoApp {
  max-width: 100%;
  background-color: #05192d;
}
.ToDoContent {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 50px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.heading h1 {
  text-align: left;
  background-color: #05192d;
  color: rgb(1, 239, 97);
  padding: 20px 40px;
  font-size: 55px;
  font-weight: bold;
}

.inputArea input[type="text"] {
  color: white;
  padding: 10px;
  margin-right: 30px;
  font-size: 25px;
  border: none;
  border-bottom: 2px solid #737276;
  outline: none;
}

.inputArea input[type="text"]:focus {
  border-bottom: 2px solid rgb(1, 239, 97);
}
.inputArea input[type="submit"] {
  padding: 4px 30px;
  background-color: white;
  color: #05192d;
  border: none;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  outline: none;
}
.inputArea input[type="submit"]:hover {
  background-color: rgb(1, 239, 97);
  color: white;
  transition: 0.3s;
}

.ToDoItems {
  position: absolute;
  font-weight: 500;
  margin-top: 20px;
  list-style: none;
  text-align: left;
  text-transform: capitalize;
  font-size: 18px;
}

/* ToDo CSS */

.ToDoList {
  margin-top: 20vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

.li-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: white;
  padding: 10px 20px;
}
.li-item .fa {
  color: #fff;
  padding: 4px 6px 5px;
  margin-right: 20px;
  background-color: rgb(1, 239, 97);
  border-radius: 100%;
  transition: 0.3s;
}

.li-item .fa:hover {
  color: #fff;
  background-color: red;
  transition: 0.3s;
}

@media only screen and (max-width: 480px) {
  .fixed-top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 0;
  }
  .inputArea input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  .inputArea input[type="submit"] {
    padding: 4px 30px;
    background-color: white;
    color: #05192d;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
    outline: none;
  }
  .ToDoItems {
    position: absolute;
    font-weight: 500;
    margin-top: 20px;
    list-style: none;
    text-align: left;
    text-transform: capitalize;
    font-size: 14px;
  }

  .ToDoList {
    margin-top: 35vh;
    margin-left: 0;
    margin-right: 0;
    padding:0 15px;
  }
  .li-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    color: white;
    padding: 10px 20px;
  }
}
